<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<p th:text="${user.getName()}">Value</p>
<p th:text="${user.getAge()}">Value</p>
<p th:text="${user.getEmail()}">Value</p>
<p th:text="${user.getId()}">Value</p>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>